body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.titleNav{
  position: absolute;
  left: 90px;
  top: -10px;
}
.loginSingup{
  position: absolute;
  right: 60px;
  top: -1px;
}
.imgNav{
  margin-left: 20px;
}
