
  .dashboard-bg  {
    background-color: #dee2e6;
    margin-top: 50px;
  }

  
  .dashboard-header {
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.5);
    background: #1e88e5;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
  }
  .dashboard-header a {
    color: #fff;
    text-decoration: none;
  }
  .dashboard-header .mobile-logo{
    width: 36px;
    margin-left: 18px;
  }
  
  .dashboard-nav {
    background-color: #fff;
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
  }
  @media screen and (min-width: 768px) {
    .dashboard-nav {
      position: fixed;
      top: 0;
      left: 0;
      width: 80px;
      height: 100vh;
      padding-top: 50px;
    }
  }
  .dashboard-nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
  }
  .dashboard-nav ul a {
    border-left: 3px solid transparent;
    color: #555;
    display: block;
    padding: 20px;
    text-decoration: none;
    transition: .4s ease all;
  }
  .dashboard-nav ul a:hover {
    background-color: #eee;
    border-color: #0e8cff;
    color: #0e8cff;
  }
  

  .dashboard-container{
    display: block;
    position:relative;
    left: auto;
    padding-left: 133px;
    padding-top:20px;
    text-align: center;
   
  }

  .flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .min-pad{
    padding: 5px
  }