
  .dashboard-bg  {
    background-color: #eee;
    margin-top: 65px;
  }

  
  .dashboard-header {
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.5);
    background: #1e88e5;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
  }
  .dashboard-header a {
    color: #fff;
    text-decoration: none;
  }
  .dashboard-nav .logo-space{
    height:35px;
  }
  .dashboard-nav {
    background-color: #fff;
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
    z-index: 11;
  }
  .dashboard-nav .mobile-logo{
    width: 36px;
    position: absolute;
    top:13px;
    left: 17px;
  }
  @media screen and (min-width: 768px) {
    .dashboard-nav {
      position: fixed;
      top: 0;
      left: 0;
      width: 73px;
      height: 100vh;
      padding-top:0px;
    }
  }
  .dashboard-nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
  }
  .dashboard-nav ul li {
    border-left: 3px solid transparent;
    color: #555;
    display: block;
    padding: 15px;
    padding-left: 6px;
    text-decoration: none;
    transition: .4s ease all;
  }

  .dashboard-nav ul li:first-child {
    background-color: #318bff;;
  }
  .dashboard-nav ul li:hover {
    background-color: #eee;
    border-color: #0e8cff;
    color: #0e8cff;
  }


  

  .dashboard-container{
    display: block;
    position:relative;
    left: auto;
    margin-left: 100px;
    padding-top:20px;
    text-align: center;
   
  }

  .flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .min-pad{
    padding: 5px
  }